<nav id="top-nav-bar" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" rel="home" href="#">Brand</a> -->
      <h1 id="logo">
        <a class="navbar-brand" href="/">Agrupamento 56 | Nossa Sra Rainha do Mundo</a>
      </h1>
    </div>

    <div class="col-sm-5 col-md-5 pull-right" id="search">
      <div id="searchformdiv">
        <form class="navbar-form" id="searchform" data-remote="true">
          <div>
            <input id="text-search" alt="" type="text" onkeyup="lookup(this.value);" placeholder="&#xf002; Procurar" />
          </div>
          <div id="suggestions"></div>
        </form>
      </div>
    </div>
  </div>
</nav>