<nav class="navbar navbar-default navbar-fixed-topp" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" rel="home" href="#">Brand</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" style="height: 1px;" id="collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Inicio</a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="itemm">Acerca de nos<span class="caret"></span> </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="btn big-login" >Historia</a></li>
            <li><a class="btn big-register" >Team</a></li>
            <li><a class="btn big-register" >Values</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="itemm">Membros<span class="caret"></span> </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="btn big-login" >Lobitos</a></li>
            <li><a class="btn big-register" >Juniores</a></li>
            <li><a class="btn big-register" >Seniores</a></li>
            <li><a class="btn big-register" >Caminheiros</a></li>
            <li><a class="btn big-register" >Dirigentes</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="itemm">Noticias<span class="caret"></span> </div>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a class="btn big-login" >Ultimas Noticias</a></li>
            <li><a class="btn big-register" >Eventos</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Conta <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu">
              <li><a class="btn big-login" data-toggle="modal" onclick="openLoginModal();">Entrar</a></li>
              <li><a class="btn big-register" data-toggle="modal" onclick="openRegisterModal();">Cadastrar-se</a></li>
          </ul>
         <!--  <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</nav>