<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    <%= link_to 'My Blog', controller: 'articles' %>
    Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
    Aliquam in felis sit amet augue.</div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
    Aliquam in felis sit amet augue.</div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
    Aliquam in felis sit amet augue.</div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">Title</div>
  <div class="panel-body">
    Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
    Aliquam in felis sit amet augue.</div>
</div>  